body {
  background-color: #f6eabe;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
footer {
  display: block;
}
footer,
a {
  text-align: center;
  margin: 15px;
  color: #87aaaa;
}
img {
  margin: 30px auto;
  border-radius: 25px;
  display: block;
  max-width: 100%;
}
